[workspace]
resolver = "2"
members = [
    "svf_runtime",
    "tests/minimal_test",
    "tests/test_app",
]

[profile.dev]
panic = "abort"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"

